@use '../styles/variables.scss' as variables;

/* Google Fonts (Font: Jersey + JetBrains Mono) */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Base Styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #020617;
    background-image:
        linear-gradient(rgba(0, 255, 153, 0.20) 0.6px, transparent 0.6px),
        linear-gradient(90deg, rgba(0, 255, 153, 0.20) 0.6px, transparent 0.6px);
    background-size: 50px 50px;
    animation: bg-scrolling-reverse 2s linear infinite;

    @keyframes bg-scrolling-reverse {
        100% {
            background-position: 50px 50px;
        }
    }

    @keyframes bg-scrolling {
        0% {
            background-position: 50px 50px;
        }
    }
}